<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Center of buoyancy -->
    <xacro:property name="nemo_cob" value="0 0 0.3"/>

    <!-- Vehicle's actual volume (Gazebo cannot compute the volume out of the mesh) -->
    <xacro:property name="nemo_volume" value="1.83826"/>

    <xacro:macro name="nemo_hydro_model" params="namespace">
      <!-- List of hydrodynamic models this robot's links -->
      <link name="${namespace}/base_link">
        <!-- This flag will make the link neutrally buoyant -->
        <neutrally_buoyant>0</neutrally_buoyant>

        <!-- Link's volume -->
        <volume>${nemo_volume}</volume>

        <!-- Link's bounding box, it is used to recalculate the immersed
        volume when close to the surface. These numbers are bs'ed.
        This is a workaround the invalid bounding box given by Gazebo-->
        <box>
          <width>3.0</width>
          <length>2.6</length>
          <height>0.5</height>
        </box>
        <center_of_buoyancy>${nemo_cob}</center_of_buoyancy>
        <hydrodynamic_model>
          <type>fossen</type>
          <!-- Added mass: see p.28 in Berg2012 -->
          <added_mass>
               779.79 -6.8773 -103.32  8.5426 -165.54 -7.8033
              -6.8773    1222   51.29  409.44 -5.8488  62.726
              -103.32   51.29  3659.9  6.1112 -386.42  10.774
               8.5426  409.44  6.1112   534.9 -10.027  21.019
              -165.54 -5.8488 -386.42 -10.027  842.69 -1.1162
              -7.8033  62.726  10.775  21.019 -1.1162  224.32
          </added_mass>
          <!-- Linear damping: see p.31 in Berg2012 -->
          <linear_damping>
              -74.82 -69.48 -728.4 -268.8 -309.77 -105
          </linear_damping>
          <!-- Non-linear damping: see p.30 in Berg2012 -->
          <quadratic_damping>
              -748.22 -992.53 -1821.01 -672 -774.44 -523.27
          </quadratic_damping>
        </hydrodynamic_model>

      </link>
    </xacro:macro>

</robot>