<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Front camera -->
  <gazebo reference="${namespace}/front_camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>15.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.34914</horizontal_fov>
          <image>
          <width>512</width>
          <height>341</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>front_camera</cameraName>
        <imageTopicName>image</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <link name="${namespace}/front_camera_link"/>
  <joint name="${namespace}/front_camera_joint" type="fixed">
    <origin xyz="0.46 0 -0.27" rpy="0 0 0" />
    <parent link="${namespace}/base_link" />
    <child link="${namespace}/front_camera_link" />
  </joint>

  <!-- Down camera is on left side-->
  <gazebo reference="${namespace}/down_camera_link">
    <sensor type="camera" name="camera2">
      <update_rate>15.0</update_rate>
      <camera name="head">
        <horizontal_fov>2.35619</horizontal_fov>
          <image>
          <width>512</width>
          <height>383</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>down_camera</cameraName>
        <imageTopicName>image</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <link name="${namespace}/down_camera_link"/>
  <joint name="${namespace}/down_camera_joint" type="fixed">
    <origin xyz="-0.018 0.218 -0.37" rpy="0 ${0.5*pi} 0" />
    <parent link="${namespace}/base_link" />
    <child link="${namespace}/down_camera_link" />
  </joint>

  <!-- DVL sensor -->
  <xacro:custom_dvl
    namespace="${namespace}"
    suffix=""
    parent_link="${namespace}/base_link"
    topic="dvl"
    noise_sigma="0"
    noise_amplitude="0"
    update_rate="10"
    reference_frame="world">
    <origin xyz="-0.003 0.0 -0.39" rpy="0 ${0.5*pi} 0" />
  </xacro:custom_dvl>  

  <!-- IMU  -->
  <xacro:default_imu_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_imu_macro>

  <!-- Pressure  -->
  <xacro:default_pressure_macro namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_pressure_macro>

</robot>